<script type="application/json" id="recipe-edit-data">
{
  "path": {{ page.path | jsonify }},
  "title": {{ page.title | jsonify }},
  "yield": {{ page.yield | jsonify }},
  "preptime": {{ page.preptime | jsonify }},
  "cooktime": {{ page.cooktime | jsonify }},
  "totaltime": {{ page.totaltime | jsonify }},
  "date_added": {{ page.date_added | jsonify }},
  "status": {{ page.status | jsonify }},
  "reviewed": {{ page.reviewed | jsonify }},
  "difficulty": {{ page.difficulty | jsonify }},
  "categories": {{ page.categories | jsonify }},
  "tags": {{ page.tags | jsonify }},
  "image": {{ page.image | jsonify }},
  "imagecredit": {{ page.imagecredit | jsonify }},
  "notes": {{ page.notes | jsonify }}
}
</script>
